body {
    visibility: hidden;
    margin: 0;
}

p {
    font-weight: bold;
}

div {
    background-color: darkgrey;
}

quantum-tabs {
    --background-color: lightgrey;  
}

quantum-tab {
    --background-color: lightgrey;
    --text-transform: uppercase;
    --padding: 0.7em 1em;
}

quantum-tab[active] {
    --background-color: darkgrey;
}