body {
    visibility: hidden;
    margin: 0;
}

p {
    font-weight: bold;
}

div[slot=tabs] {
    text-transform: uppercase;
    cursor: pointer;
    padding: 1em;
}

div[active] {
    background-color: darkgrey;
}

quantum-tabs {
    background-color: lightgrey;
}