body {
    visibility: hidden;
    margin: 0;
}

p {
    font-weight: bold;
}

quantum-tabs {
    margin: 20px;
    --background-color: lightgrey;
}

quantum-tab {
    --color: darkblue;
    --background-color: none;
    --letter-spacing: 0.1em;
    --text-transform: uppercase;
    --box-sizing: border-box;
    --border-radius: 3px;
    --padding: 0.7em 1em;
    --font-size: inherit;
    --line-height: 1em;
    --outline: none;
    --cursor: pointer;
}

quantum-tab[theme=border] {
    --transition: border 0.1s;
    --border: solid var(--color) 1px;
}

quantum-tab[theme=accent] {
    --color: snow;
    --background-color: navy;   
}

    quantum-tab[theme=accent]:hover:not([disabled]) {
        --color: white;
        --background-color: royalblue;  
    }

quantum-tab[theme=round] {
    --border-radius: 100px;  
}